.banner {
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #e2e9fc;
    background: #fff;
    display: flex;
    gap: 40px;
    padding: 24px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

@media (max-width: 991px) {
    .banner {
        padding: 16px;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: nowrap;
    width: 100%;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.iconWrapper {
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

@media (max-width: 768px) {
    .iconWrapper {
        width: 60px;
        height: 60px;
    }
}

.textContent {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .textContent {
        margin-right: 0;
    }
}

.title {
    color: #56658f;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.description {
    color: #8e9abb;
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 16px;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

@media (max-width: 768px) {
    .buttonGroup {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }
}

.button {
    border-radius: 50px;
    padding: 14px 32px;
    height: 53px;
}

.buttonDecline {
    background: #f9ebeb;
    color: #e72749;
}

.buttonAccept {
    background: #252b61;
    color: #fff;
}
